<div class="card post">
    <div class="post-header">
        <a href="{{ post.url }}">
            <div class="post-titles">
                <div class="post-title">
                    {% if post.data.series %}
                        {{ post.data.series }}
                    {% else %}
                        {{ post.data.title }}
                    {% endif %}
                </div>
                <div class="post-subtitle">
                    {% if post.data.part %}
                        {{ post.data.part }}
                    {% elsif post.data.subtitle %}
                        {{ post.data.subtitle }}
                    {% endif %}
                </div>
            </div>
        </a>
        <div class="post-info">
            {% if post.data.date %}<span class="post-date post-info-item">{{ post.data.date | prettyDate }}</span>{% endif %}
            <div class="post-tags">
                {% for tag in post.data.tags %}
                    {% if tag != "blog" %}
                        {% include "components/tag" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="post-content">
        {% if post.data.image %}
        <div class="post-img">
            <img src="{{ post.data.image }}" alt="{{ post.data.alt }}"/>
        </div>
        {% endif %}
        <div class="post-preview">
            <div>
            {{ post.data.tagline }}
            </div>
            <div class="post-readmore">
                <a href="{{ post.url }}" title="Read blog post '{{ post.data.title }}'">Read more</a>
            </div>
        </div>
  </div>
</div>