---
layout: default
style: blog
permalink: /blog/{% if dir %}{{ dir }}/{{ part | slug }}{% elsif series %}{{ series | slug }}/{{ part | slug }}{% else %}{{ title | slug }}{% endif %}/
---

<div class="post">
  {% if image %}
  <img class="main-post-img" src={{ image }} alt={{ alt }}>
  {% endif %}
  {{ content }}
</div>

{% if page.disclaimer %}
<div class="footnote">{{ page.disclaimer }}</div>
{% endif %}