---
layout: default
type: trains
---
<article id="top" class="page">
    <div class="entry">
        <p><img src = {{ page.image }} alt = {{ page.alttext }}></p>

        <b>Traction:</b> {{page.traction}} <br>
        <b>TOC:</b> {{page.toc}} <br>
        <b>Route:</b> {{page.route}} <br>
        <b>Duration:</b> {{page.duration}} <br>
        <p><b>Difficulty:</b> {{page.difficulty}}</p>
        
        {{ content }}
    </div>
</article>
