<div class="module">
    <div class="module-title"><a href={{ module.web }} title="Module page for {{ module.title }}">{{ module.title }}</a>
    </div>

    <div>
        <span class="module-term">{{ module.term }}</span>
        <span class="module-role">{{ module.role }}, </span>
        <span class="module-institution">{{ module.institution }}</span>

        {% for link in module.links %}
        {%- capture target -%} {{ link.target }} {%- endcapture -%}
        {%- capture title -%} {{ link.title }} {%- endcapture -%}
        {%- capture text -%} {{ link.text }} {%- endcapture -%}
        {% include "macros/button" %}
        {% endfor %}
    </div>
</div>