<div class="paper">
    <span class="paper-title">{{ paper.title }}</span>

    <!-- page -->
    {% if paper.page %}
    {%- capture target -%} {{ paper.page }} {%- endcapture -%}
    {%- capture title -%} Page for '{{ paper.title }}' {%- endcapture -%}
    {%- capture text -%} page {%- endcapture -%}
    {% include macros/button %}
    {% endif %}

    <!-- PDF -->
    {% if paper.arxiv %}
    {%- capture target -%} /files/papers/{{ paper.file }}.pdf {%- endcapture -%}
    {%- capture title -%} PDF version of '{{ paper.title }}' {%- endcapture -%}
    {%- capture text -%} pdf {%- endcapture -%}
    {% include macros/button %}
    {% endif %}

    <!-- Arxiv version -->
    {% if paper.arxiv %}
    {%- capture target -%} https://arxiv.org/abs/{{ paper.arxiv }} {%- endcapture -%}
    {%- capture title -%} Arxiv page for '{{ paper.title }}'' {%- endcapture -%}
    {%- capture text -%} arxiv {%- endcapture -%}
    {% include macros/button %}
    {% endif %}

    <!-- Bibtex -->
    {%- capture target -%} /files/papers/{{ paper.file }}.bib.txt {%- endcapture -%}
    {%- capture title -%} Bibtex entry for '{{ paper.title }}'' {%- endcapture -%}
    {%- capture text -%} bibtex {%- endcapture -%}
    {% include macros/button %}

    <!-- Abstract-->

    [<span title="Toggle the abstract for '{{ paper.title }}'" id="{{ paper.file }}"
        class="toggle-abstract">abstract</span>]

    <div class="paper-details">{{ paper.details }}</div>
    <div class="paper-authors">
        {% for author in paper.authors %}
        {% assign person = people[author.name] %}
        <span class="author">
            {% if author.name == "me" %}
            <span class="author-me">
                {% endif %}
                {% if author.text %}
                {{ author.text }}
                {% endif %}
                {% if person.web %}
                <a href={{ person.web }} title="{{ person.name }}{{ person.poss }} personal webpage">
                    {% endif %}
                    {{- person.name -}}
                    {% if person.web %}
                </a>
                {% endif %}
                {%-if author.name == "me" -%}
            </span>
            {%- endif -%}
            {%- if forloop.last -%}{% else %}, {% endif %}
        </span>
        {% endfor %}
    </div>
    <div id="{{ paper.file }}-abstract" class="paper-abstract">
        {{ paper.abstract }}
    </div>
</div>