<div class="talk">
    <div class="talk-title">{{ talk.title }}</div>

    <div>
        <span class="talk-venue"><a href={{ talk.web }} title="{{ talk.venue }} webpage">{{ talk.venue }}</a></span>
        <span class="talk-date">{{ talk.date | prettyDateMDY }}</span>

        <!-- slides -->
        {% if talk.links.slides %}
        {%- capture target -%} /files/slides/{{ talk.date | fileDate }}-{{ talk.key }}.pdf {%- endcapture -%}
        {%- capture title -%} Slides for '{{ talk.title }}' {%- endcapture -%}
        {%- capture text -%} slides {%- endcapture -%}
        {% include "macros/button" %}
        {% endif %}

        <!-- abstract -->
        {% if talk.links.abstract %}
        {%- capture target -%} /files/abstracts/{{ talk.date | fileDate }}-{{ talk.key }}.pdf {%- endcapture -%}
        {%- capture title -%} Extended abstract for '{{ talk.title }}' {%- endcapture -%}
        {%- capture text -%} extended abstract {%- endcapture -%}
        {% include "macros/button" %}
        {% endif %}

        <!-- video -->
        {% if talk.links.video %}
        {%- capture target -%} {{ talk.links.video }} {%- endcapture -%}
        {%- capture title -%} Video of '{{ talk.title }}' {%- endcapture -%}
        {%- capture text -%} video {%- endcapture -%}
        {% include "macros/button" %}
        {% endif %}

        <!-- github -->
        {% if talk.links.github %}
        {%- capture target -%} https://github.com/georgejkaye?tab=repositories&q={{ talk.key }} {%- endcapture -%}
        {%- capture title -%} Github repos for '{{ talk.title }}' {%- endcapture -%}
        {%- capture text -%} github {%- endcapture -%}
        {% include "macros/button" %}
        {% endif %}
    </div>
</div>