<div class="visit">
    {% if visit.cancelled %}
    <span class="visit-cancelled">
        {% endif %}
        <span class="visit-venue"><a href={{ visit.web }} title="{{visit.venue}} webpage">{{ visit.venue }}</a></span>
        <span class="visit-city">{{ visit.city }}</span>
        <span class="visit-dates">{{ visit.dates }}</span>
        {% if visit.cancelled %}
    </span>
    {% endif %}
</div>