<p>
    <img class="profile-picture" src={{ people.me.picture }} />
    Hello! I’m George, a PhD student researcher at the University of Birmingham, under the supervision of <a
        href={{ people.dan.web }} title="Dan Ghica's personal webpage">
        Dan Ghica
    </a> and
    <a href={{ people.miriam.web }} title="Miriam Backens' personal webpage">Miriam Backens</a>!
</p>

<p>
    I am a member of the
    <a href={{ links.theory }} title="University of Birmingham Theory Group webpage">
        University of Birmingham Theory Group
    </a>.
</p>

<h3>Contact me</h3>

<p><b>University:</b> {{ people.me.email }}</p>

<p><b>Where to find me:</b> {{ people.me.address }}</p>