<div class="mobile-profile-picture">
    <img src={{ people.me.picture }} alt="A picture of me, with the Forth Bridge in the background" />
</div>

<p>
    <img class="profile-picture" alt="A picture of me, with the Forth Bridge in the background" src={{ people.me.picture }} />
    Hello! I’m George, a PhD student researcher at the University of Birmingham, under the supervision of <a
        href={{ people.dan.web }} title="Dan Ghica's personal webpage">
        Dan Ghica
    </a> and
    <a href={{ people.miriam.web }} title="Miriam Backens' personal webpage">Miriam Backens</a>!
</p>

<p>
    I am a member of the
    <a href={{ links.theory }} title="University of Birmingham Theory Group webpage">
        University of Birmingham Theory Group
    </a>.
</p>

<h3>Contact me</h3>

<ul>
    <li>{{ people.me.email }}</li>
    <li>{{ people.me.address }}</li>
</ul>

<h3>Contributing</h3>

If you find a mistake, you can fix it yourself with a <a href="https://github.com/georgejkaye/georgejkaye.github.io/pulls">pull request</a>!