<div class="header-bar">
  <div class="header-bar-content">
    <div class="title-bar">
      <h1 class="title">
        {% if page.url == "/" %}
        Hello!
        {% else if page.title %}
        {{ series }}
        {% else %}
        {{ title }}
        {% endif %}
      </h1>

      {% if subtitle %}
      {% assign subtitlet=subtitle %}
      {% elsif part %}
      {% assign subtitlet=part %}
      {% endif %}

      {% if subtitlet %}
      <div class="subtitle">{{ subtitlet }}</div>
      {% endif %}
    </div>
    {% if tagline %}
    <div class="tagline">{{ tagline }}</div>
    {% endif %}
    {% if tags.size > 0 %}
    <div class="post-tags">
      {% for tag in tags %}
      <span class="post-tag">
        {{- tag -}}
      </span>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>