<div class="header-bar">
  <div class="title-bar">
    <h1 class="title">
      {% if page.url == "/" %}
      Hello!
      {% else %}
      {{ page.title }}
      {% endif %}
    </h1>

    <div class="subtitle">{{ page.subtitle }}</div>
  </div>
  <div class="tagline">{{ page.tagline }}</div>
  {% if page.date %}
  <div class="header-date post-info">
    <time class="header-date">{{ page.date | date_to_string }}</time>
  </div>
  {% endif %}
  {% if page.tags.size > 0 %}
  <div class="post-info">
    {% for tag in page.tags %}
    <div class="post-tag">
      {{ tag }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>